.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav {
  padding: 4%;
  font-family: "Libre Bodoni", serif;
  background-color: #efeae7;
}

.brand {
  color: #069161 !important;
}

.nav-item {
  text-transform: uppercase;
}

.nav-item > a:hover {
  color: rgb(28, 59, 28);
  color: #069161 !important;
}
