nav {
  background-color: #ffbd14;
  padding: 4%;
  font-family: "Libre Bodoni", serif;
}

.nav-item {
  text-transform: uppercase;
}

.nav-item a {
  color: antiquewhite !important;
}

.navbar-brand {
  color: antiquewhite !important;
}

.nav-link-item a:hover {
  color: rgb(28, 59, 28) !important;
}
