.details-container {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 5%;
  margin-bottom: 5%;
}
.card-body-optional {
  min-width: 100%;
}
.card-recipe-title-d {
  text-transform: capitalize;
  text-align: center;
  padding: 2%;
  font-family: "Libre Bodoni", serif;
  font-size: 2em !important;
}
.card-recipe-title {
  text-align: center;
  padding: 2%;
  font-family: "Libre Bodoni", serif;
  text-transform: capitalize;
}

.difficulty {
  display: flex;
  flex-direction: row;
}
.difficulty-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.difficulty-duration-d {
  display: flex;
  font-family: "Cormorant Garamond", serif;
}

.ingredients-description {
  display: flex;
}

.ingredients {
  width: 30%;
}
.description {
  width: 70%;
  padding-right: 2%;
}
.card-recipe-description,
.card-recipe-list-ingredients {
  font-family: "Cormorant Garamond", serif;
  font-size: large;
}
.list {
  list-style: none;
  text-align: center;
}
