.myfridge-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  font-family: "Libre Bodoni", serif;
}
.page-header {
  margin-bottom: 2%;
}
.fridge-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-card {
  font-family: "Libre Bodoni", serif;

  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
  /* padding: 5%; */
  /* margin: 2%; */
}
.add-new-product-card {
  align-self: flex-start;
}

.form-card-title {
  font-size: 2em;
}
.product-title {
  text-transform: capitalize;
  width: 90%;
}
h1 {
  font-family: "Libre Bodoni", serif;
}
