.myfridge-page-container {
  text-align: center;
  padding-top: 2%;
  font-family: "Libre Bodoni", serif;
}
.form-card {
  font-family: "Libre Bodoni", serif;

  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 2%;
}

.form-card-title {
  font-size: 2em;
}
.product-title {
  text-transform: capitalize;
  width: 90%;
}
h1 {
  font-family: "Libre Bodoni", serif;
}
